{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="feed-grid">

    <article class="card">

        <div class="card-image">
            <a href="https://youtube.com/playlist?list=PLRFJeQnBC-ymBP9JvA3dNdX4CDTPeS66t&si=yV45I10C5OC57QYM" target="_blank">
                <img src="{% static 'img/shahada-1.jpg' %}">
                </div>

                <div class="card-body">
                    <span class="card-date"><i class="fa-regular fa-calendar"></i> 13.05.2026</span>
                    <h2>Свидетельство ЛЯ ИЛЯХА ИЛЛЯ ЛЛАХ</h2>
                    <p>Плейлист на тему "Свидетельство ЛЯ ИЛЯХА ИЛЛЯ ЛЛАХ"</p>
                </div>
            </a>

    </article>

    <article class="card">

        <div class="card-image">
            <a href="https://youtube.com/playlist?list=PLRFJeQnBC-ykT8cx_n02ELZhLCe-5lMjv&si=RTYC8k9Pe771UG6Z" target="_blank">
                <img src="{% static 'img/shahada-2.jpg' %}">
                </div>

                <div class="card-body">
                    <span class="card-date"><i class="fa-regular fa-calendar"></i> 13.05.2026</span>
                    <h2>Свидетельство Мухаммад ﷺ расулю-Ллах</h2>
                    <p>Плейлист на тему "Свидетельство Мухаммад ﷺ расулю-Ллах"</p>
                </div>
            </a>

    </article>

    <article class="card" id="yellow">  <!-- убрал id='page', добавил id="yellow" -->
        <div class="card-image">
            <a href="{% url 'sira' %}">
                <img src="{% static 'img/sira.jpg' %}" alt="Сира">
                </div>
                <div class="card-body">
                    <span class="card-date"><i class="fa-regular fa-calendar"></i> 11.05.2026</span>
                    <h2>┏━━━━━━༻❁༺━━━━━━┓<br>ИСТОРИЯ ПРОРОКА ﷺ<br>┗━━━━━━༻❁༺━━━━━━┛</h2>
                    <p>🔈Серия аудио лекций на тему «История Пророка Мухаммада  ﷺ»
                        <br>Запись сделана в 2001-м году, полностью переработана и отредактирована.</p>
                </div>
            </a>
    </article>

    <article class="card">
        
        <div class="card-image">
            <a href="https://youtube.com/playlist?list=PL2vCcN2gniJHGA5EMYra7ss56Yfdmr3nK&si=pBQH54z2MpRZUw34" target="_blank">
                <img src="{% static 'img/smzaman.jpg' %}">
            </a>
        </div>

        <div class="card-body">
            <span class="card-date"><i class="fa-regular fa-calendar"></i> 11.05.2026</span>
            <h2>Сахих Маварид Аз-Замъан</h2>
            <p>Аудио-уроки Рината Абу Мухаммада по чтению и разбору сборника хадисов «Маварид аз-Замъан»</p>
        </div>

    </article>

    <article class="card">

        <div class="card-image">
            <a href="https://youtube.com/playlist?list=PLRFJeQnBC-ynZINY87omfHt3x1m79ozQP&si=vb8P993-LuD5QMQk" target="_blank">
                <img src="{% static 'img/katchestva.jpg' %}">
            </div>

            <div class="card-body">
                <span class="card-date"><i class="fa-regular fa-calendar"></i> 11.05.2026</span>
                <h2>Качества настоящих мужчин</h2>
                <p>Плейлист на тему "Качества настоящих мужчин"</p>
            </div>
        </a>

    </article>

     <article class="card">

        <div class="card-image">
            <a href="https://youtube.com/playlist?list=PLRFJeQnBC-ymk8nALKix-J3UEpDtHQ6AL&si=RY_0QmjcTPAX8Cr0" target="_blank">
                <img src="{% static 'img/depressia.jpg' %}">
                </div>
                <div class="card-body">
                    <span class="card-date"><i class="fa-regular fa-calendar"></i> 11.05.2026</span>
                    <h2>Депрессия и печаль уйдут если ты уверуешь</h2>
                    <p>Плейлист на тему "Депрессия и печаль уйдут если ты уверуешь"</p>
                </div>
            </a>

    </article>

    <article class="card">

        <div class="card-image">
            <a href="https://www.youtube.com/watch?v=3TrwczB-w84&list=PLRFJeQnBC-ym3Z8csCvdfLQUFe7XrKqTP" target="_blank">
                <img src="{% static 'img/zapret.jpg' %}">
                </div>

                <div class="card-body">
                    <span class="card-date"><i class="fa-regular fa-calendar"></i> 11.05.2026</span>
                    <h2>Фотографий и Видео, Запрет создания изображения</h2>
                    <p>Плейлист на тему "Запрет создания изображения"</p>
                </div>
            </a>

    </article>





</div>
{% endblock %}