{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="feed-grid">

    <article class="card">
        <div class="card-image">
            <a href="{% url 'sira' %}">
                <img src="{% static 'img/sira.jpg' %}" alt="Сира">
            </a>
        </div>
        <div class="card-body">
            <span class="card-date"><i class="fa-regular fa-calendar"></i> 11.05.2026</span>
            <h2>┏━━━━━━༻❁༺━━━━━━┓<br>ИСТОРИЯ ПРОРОКА ﷺ<br>┗━━━━━━༻❁༺━━━━━━┛</h2>
            <p>🔈Серия аудио лекций на тему «История Пророка Мухаммада  ﷺ
                <br>Запись сделана в 2001-м году, полностью переработана и отредактирована.»</p>
        </div>
    </article>

    <article class="card">
        <div class="card-image">
            <a href="https://youtube.com/playlist?list=PL2vCcN2gniJHGA5EMYra7ss56Yfdmr3nK&si=pBQH54z2MpRZUw34" target="_blank">
                <img src="{% static 'img/smzaman.jpg' %}">
            </a>
        </div>
        <div class="card-body">
            <span class="card-date"><i class="fa-regular fa-calendar"></i> 11.05.2026</span>
            <h2>Сахих Маварид Аз-Замъан</h2>
            <p>Аудио-уроки Рината Абу Мухаммада по чтению и разбору сборника хадисов «Маварид аз-Замъан»</p>
        </div>
    </article>


</div>
{% endblock %}