{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sira.css' %}">
{% endblock %}

{% block content %}
<article class="article-card">
    <h1 class="article-title">Сира Пророка Мухаммада ﷺ</h1>
    
    <div class="article-image"><img src="{% static 'img/sira.jpg' %}"></div>
    
    <div class="article-text">
        <p>С именем Аллаха Милостивого, Милующего!
            🔈Серия аудио лекций на тему «История Пророка Мухаммада, да благословит его Аллах и приветствует.
            Запись сделана в 2001-м году, полностью переработана и отредактирована.
        </p>
    </div>

    <div class="audio-section">
        <a href="..." class="btn-download">Telegram</a>
        <a href="..." class="btn-download">YouTube</a>

        {% for track in data.tracks %}
            <div class="audio-item">
                <div class="audio-info"><p>{{ track.title }}</p></div>
                <audio controls src="{{ track.url }}" class="sira-audio"></audio>
            </div>
        {% endfor %}

        <div class="pagination">
            <div class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-btn nav-btn">‹</a>
                {% endif %}

                <div class="page-numbers">
                    {% for num in page_obj.paginator.page_range %}
                        <a href="?page={{ num }}" class="page-btn {% if page_obj.number == num %}active{% endif %}">{{ num }}</a>
                    {% endfor %}
                </div>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="page-btn nav-btn">›</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="control-questions-card">
        <div class="card-header">
            <span class="icon">📕</span>
            <h3>Контрольные вопросы (Часть {{ page_obj.number }})</h3>
        </div>
        <ol class="questions-list">
            {% for question in data.questions %}
                <li>{{ question }}</li>
            {% endfor %}
        </ol>
    </div>

</article>
{% endblock %}